<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carosello!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root" class="container">
        <div  class="carosello">
            <div class="img-container">
            
            <div 
                class="current-img" 
                v-for="(element, id) in images"
                key="img"
                v-show="counter == id"
                :style="`background-image: url('${element.image}')`"
                >
                
                <h3 v-show="counter == id" v-for="element in images" class="titolo">{{element.title}}</h3>
                
                <p v-show="counter == id" v-for="(element, id) in images" class="paragrafo">{{element.text}}</p>
                
            </div>  
            
        </div> 
        
            <div class="thumbs">
                <div class="btn btn-up">&#8679;</div>
                <div class="btn btn-down">&#10225;</div>
                <div class="btn btn-right"></div>
                
                <div class="preview">
                    <img 
                    key="img"
                    v-for="(element, id) in images" 
                    class="img-miniature" 
                    :class="{'img-active': id == counter}"
                    :src="element.image" 
                    >;
                </div>

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>