*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hidden{
    display: none!important;
}
.carosello{
    display: flex;
    width: 90%;
    margin-inline: auto;
    height: 500px;
}
.img-container{
    width: 70%;
    height: 100%;
}
.current-img{
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    padding: 1rem;
    color: white;
}
.thumbs{
    position: relative;
    width: 30%;
}
.preview{
    display: flex;
    flex-direction: column;
}
.img-miniature{
    height: 100px;
    background-size: cover;
    background-position: center;
}
.btn{
    height: 30px;
    width: 30px;
    background-color: white;
    opacity: 0.8;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.btn-up{
    top: 30px;
}
.btn-down{
    bottom: 0;
}
.btn-right{
    bottom: 44%;
    left: 100%!important;
}
.img-active{
    border: 3px solid white;
}